schema/mmcif_ccp4-v1.00.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!-- XSD type schema generated on 2024-01-16 -->
<!-- Schema file: http://pdbml.pdb.org/schema/mmcif_ccp4-v1.00.xsd -->
<!-- Please direct questions or comments to John Westbrook (jwest@rcsb.rutgers.edu) -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:ccp4="http://pdbml.pdb.org/schema/mmcif_ccp4.xsd"
   targetNamespace="http://pdbml.pdb.org/schema/mmcif_ccp4.xsd"
   elementFormDefault="qualified" attributeFormDefault="unqualified">

   <xsd:complexType name="ccp4_refine_tlsType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
Data items in the REFINE_TLS category record details about 
TLS parameters used in structure refinement. Note that the
intention is primarily to describe directly refined TLS
parameters, although other methods of obtaining TLS parameters
may be covered, see item attribute method in category ccp4_refine_tls 

         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ccp4_refine_tls" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="L11" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [1][1] element of the libration tensor L. This should
be given in the same coordinate frame as the
corresponding anisotropic displacement parameters.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="degrees_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="L11_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute L[1][1] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="degrees_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="L12" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [1][2] element of the libration tensor L. This should
be given in the same coordinate frame as the
corresponding anisotropic displacement parameters.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="degrees_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="L12_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute L[1][2] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="degrees_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="L13" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [1][3] element of the libration tensor L. This should
be given in the same coordinate frame as the
corresponding anisotropic displacement parameters.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="degrees_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="L13_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute L[1][3] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="degrees_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="L22" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [2][2] element of the libration tensor L. This should
be given in the same coordinate frame as the
corresponding anisotropic displacement parameters.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="degrees_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="L22_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute L[2][2] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="degrees_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="L23" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [2][3] element of the libration tensor L. This should
be given in the same coordinate frame as the
corresponding anisotropic displacement parameters.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="degrees_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="L23_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute L[2][3] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="degrees_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="L33" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [3][3] element of the libration tensor L. This should
be given in the same coordinate frame as the
corresponding anisotropic displacement parameters.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="degrees_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="L33_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute L[3][3] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="degrees_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S11" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [1][1] element of the screw-rotation tensor S. This should
be given in the same coordinate frame as the
corresponding anisotropic displacement parameters.

The trace of S is indeterminate by crystallography, and should
be set to zero.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S11_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute S[1][1] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S12" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [1][2] element of the screw-rotation tensor S. This should
be given in the same coordinate frame as the
corresponding anisotropic displacement parameters.

If the origin is omitted, it is assumed to be the centre of
reaction of the group, in which case S must be symmetric
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S12_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute S[1][2] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S13" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [1][3] element of the screw-rotation tensor S. This should
be given in the same coordinate frame as the
corresponding anisotropic displacement parameters.

If the origin is omitted, it is assumed to be the centre of
reaction of the group, in which case S must be symmetric
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S13_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute S[1][3] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S21" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [2][1] element of the screw-rotation tensor S. This should
be given in the same coordinate frame as the
corresponding anisotropic displacement parameters.

If the origin is omitted, it is assumed to be the centre of
reaction of the group, in which case S must be symmetric
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S21_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute S[2][1] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S22" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [2][2] element of the screw-rotation tensor S. This should
be given in the same coordinate frame as the
corresponding anisotropic displacement parameters.

The trace of S is indeterminate by crystallography, and should
be set to zero.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S22_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute S[2][2] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S23" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [2][3] element of the screw-rotation tensor S. This should
be given in the same coordinate frame as the
corresponding anisotropic displacement parameters.

If the origin is omitted, it is assumed to be the centre of
reaction of the group, in which case S must be symmetric
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S23_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute S[2][3] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S31" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [3][1] element of the screw-rotation tensor S. This should
be given in the same coordinate frame as the
corresponding anisotropic displacement parameters.

If the origin is omitted, it is assumed to be the centre of
reaction of the group, in which case S must be symmetric
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S31_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute S[3][1] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S32" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [3][2] element of the screw-rotation tensor S. This should
be given in the same coordinate frame as the
corresponding anisotropic displacement parameters.

If the origin is omitted, it is assumed to be the centre of
reaction of the group, in which case S must be symmetric
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S32_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute S[3][2] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S33" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [3][3] element of the screw-rotation tensor S. This should
be given in the same coordinate frame as the
corresponding anisotropic displacement parameters.

The trace of S is indeterminate by crystallography, and should
be set to zero.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="S33_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute S[3][3] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_degrees" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="T11" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [1][1] element of the translation tensor T. This should
be given in the same coordinate frame and units as the
corresponding anisotropic displacement parameters.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="T11_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute T[1][1] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="T12" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [1][2] element of the translation tensor T. This should
be given in the same coordinate frame and units as the
corresponding anisotropic displacement parameters.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="T12_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute T[1][2] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="T13" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [1][3] element of the translation tensor T. This should
be given in the same coordinate frame and units as the
corresponding anisotropic displacement parameters.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="T13_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute T[1][3] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="T22" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [2][2] element of the translation tensor T. This should
be given in the same coordinate frame and units as the
corresponding anisotropic displacement parameters.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="T22_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute T[2][2] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="T23" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [2][3] element of the translation tensor T. This should
be given in the same coordinate frame and units as the
corresponding anisotropic displacement parameters.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="T23_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute T[2][3] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="T33" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The [3][3] element of the translation tensor T. This should
be given in the same coordinate frame and units as the
corresponding anisotropic displacement parameters.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="T33_esd" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The estimated standard deviation of attribute T[3][3] in category ccp4_refine_tls. 
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms_squared" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="details" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:string">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
A description of the TLS group, such as a domain name or a 
chemical group name.
Chain A catalytic domain
Chain A Tyr 56 side chain
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="method" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The method by which the TLS parameters were obtained.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:enumeration value="refined" />
                           <xsd:enumeration value="fitted" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="origin_x" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The x coordinate in angstroms of the origin to which the
TLS parameters are referred, specified according to
a set of orthogonal Cartesian axes related to the cell axes as
given in attribute Cartn_transform_axes.
 in category atom_sites 
If the origin is omitted, it is assumed to be the centre of
reaction of the group, in which case S must be symmetric
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="origin_y" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The y coordinate in angstroms of the origin to which the
TLS parameters are referred, specified according to
a set of orthogonal Cartesian axes related to the cell axes as
given in attribute Cartn_transform_axes.
 in category atom_sites 
If the origin is omitted, it is assumed to be the centre of
reaction of the group, in which case S must be symmetric
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="origin_z" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
The z coordinate in angstroms of the origin to which the
TLS parameters are referred, specified according to
a set of orthogonal Cartesian axes related to the cell axes as
given in attribute Cartn_transform_axes.
 in category atom_sites 
If the origin is omitted, it is assumed to be the centre of
reaction of the group, in which case S must be symmetric
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:simpleContent>
                           <xsd:extension base="xsd:decimal">
                              <xsd:attribute fixed="angstroms" name="units" type="xsd:string" use="optional" />
                           </xsd:extension>
                        </xsd:simpleContent>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:all>
               <xsd:attribute name="id" use="required" type="xsd:string">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="en">
The value of attribute id in category ccp4_refine_tls must uniquely identify a record in
 the CCP4_REFINE_TLS list.
Note that this item need not be a number; it can be any unique
identifier.
1
A
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:attribute>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ccp4_refine_tls_groupType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
Data items in the CCP4_REFINE_TLS_GROUP category record details about
a fragment of a TLS group.

Properties of the TLS group are recorded in CCP4_REFINE_TLS

         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ccp4_refine_tls_group" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:all>
                  <xsd:element name="beg_auth_seq_id" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:string">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
A component of the identifier for the residue at which the
TLS fragment range begins.

This data item is a pointer to attribute auth_seq_id in category atom_site in the
 ATOM_SITE category.
1
5A
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="beg_label_asym_id" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:string">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
A component of the identifier for the residue at which the
TLS fragment range begins.

This data item is a pointer to attribute label_asym_id in category atom_site in the
 ATOM_SITE category.
O
2B3
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="beg_label_seq_id" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:string">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
A component of the identifier for the residue at which the
TLS fragment range begins.

This data item is a pointer to attribute label_seq_id in category atom_site in the
 ATOM_SITE category.
1
303
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="end_auth_seq_id" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:string">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
A component of the identifier for the residue at which the
TLS fragment range ends.

This data item is a pointer to attribute auth_seq_id in category atom_site in the
 ATOM_SITE category.
1
5A
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="end_label_asym_id" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:string">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
A component of the identifier for the residue at which the
TLS fragment range ends.

This data item is a pointer to attribute label_asym_id in category atom_site in the
 ATOM_SITE category.
O
2B3
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="end_label_seq_id" minOccurs="0" maxOccurs="1" nillable="true" type="xsd:string">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
A component of the identifier for the residue at which the
TLS fragment range ends.

This data item is a pointer to attribute label_seq_id in category atom_site in the
 ATOM_SITE category.
1
303
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="refine_tls_id" minOccurs="1" maxOccurs="1" type="xsd:string">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
This data item is a pointer to attribute id in category ccp4_refine_tls in the
 REFINE_TLS category.
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="selection" minOccurs="0" maxOccurs="1" nillable="true">
                     <xsd:annotation>
                        <xsd:documentation xml:lang="en">
A description of the subset of atoms in the specified
range included in the TLS fragment.
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:enumeration value="all" />
                           <xsd:enumeration value="mnc" />
                           <xsd:enumeration value="sdc" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
               </xsd:all>
               <xsd:attribute name="id" use="required" type="xsd:string">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="en">
The value of attribute id in category ccp4_refine_tls_group must uniquely identify 
 a record in the REFINE_TLS_GROUP list.
Note that this item need not be a number; it can be any unique
identifier.
1
A
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:attribute>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="datablockType">
      <xsd:all>
         <xsd:element name="ccp4_refine_tlsCategory" type="ccp4:ccp4_refine_tlsType" minOccurs="0" maxOccurs="1">
         </xsd:element>
         <xsd:element name="ccp4_refine_tls_groupCategory" type="ccp4:ccp4_refine_tls_groupType" minOccurs="0" maxOccurs="1">
         </xsd:element>
      </xsd:all>
      <xsd:attribute name="datablockName" type="xsd:string" use="optional" />
   </xsd:complexType>
   <xsd:element name="datablock" type="ccp4:datablockType">
      <xsd:key name="ccp4_refine_tlsKey_0">
         <xsd:selector xpath="ccp4:ccp4_refine_tlsCategory/ccp4:ccp4_refine_tls" />
         <xsd:field xpath="@id" />
      </xsd:key>
      <xsd:keyref name="ccp4_refine_tlsKeyref_0_0_0_0" refer="ccp4:ccp4_refine_tlsKey_0">
         <xsd:selector xpath="ccp4:ccp4_refine_tls_groupCategory/ccp4:ccp4_refine_tls_group" />
         <xsd:field xpath="ccp4:refine_tls_id" />
      </xsd:keyref>
      <xsd:key name="ccp4_refine_tls_groupKey_0">
         <xsd:selector xpath="ccp4:ccp4_refine_tls_groupCategory/ccp4:ccp4_refine_tls_group" />
         <xsd:field xpath="@id" />
      </xsd:key>
   </xsd:element>
</xsd:schema>
